<div class="info">
<h3>Aplikacja zaliczeniowa wykonana w technologii Angular2 (TS)</h3>
<p>Poniżej krótki opis:</p>
<ul>
<li>Aplikacja zostala napisana za pomocą frameworka Angular w najnowszej wersji 4.2.4</li>
<li>Wszelkie pliki od aplikacji znajdują się w folderze /src/app</li>
<li>Aplikacja korzysta z symulacji zapytania do pliku JSON, dane zostały wygenerowane za pomocą generatora JSON</li>
<li>W pliku in-memory-data.service.ts znajduję się informacje odnośnie danych</li>
<li>W pliku user.service.ts znajdziemy wszelakie instrukcje związane z operacjami na danych</li>
<li>Za pomocą można w ciągu jednej sesji dodać, usunąć lub zmodyfikować użytkownika</li> 
<li>Struktura plików znajduję się w folderze głównym w pliku tree-files.txt</li>
</ul>
<h2>Elementy które wymagałyby więcęj czasu</h2>
<ul>
<li>Przyjąć jakiś ciekawszy styl graficzny</li>
<li>Dodać komentarze do kodu</li>
</ul>   
</div>